*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  color:red;
}

.grid-container.click-grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

.grid-container.click-grid .grid-item {
  color:black;
  /*color:rgba(0, 0, 0, 0);*/
  background-color: rgba(0, 0, 0, 0);
  margin: 7px;
  border-radius: 50%;
  z-index: 9;
}

.grid-container.display-grid{
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);

  position: absolute;
  top: 25px;
  left: 25px;
}

.grid-container.display-grid .grid-item{
  color:rgba(0, 0, 0, 0);
  border:1px solid black;
  background-color: blue;
}

.click-grid [data-coordinates="0-0"]{
  background-color: orange;
}



/*

.grid-container .display-grid{
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: repeat(2, 50px);
}

.grid-item{
  color: rgba(0, 0, 0, 0);


}

.click-grid .grid-item{
  border: 1px solid white;
  border-radius: 50%;
  background-color: blue;
}


.display-grid{
  position: absolute;
  top: 25px;
  left: 25px;
}

.display-grid .grid-item {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  background-color: blue;
}

*/
